body {
    background-color: #222222;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: #ee8d88;
    text-shadow: 1.5px 1.5px 4.5px #854d4a; 
}

p {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(238, 235, 235);
    text-align: center;
    font-size: 23px;
}

li {
    text-align: left;
    color: white;
    font-size: 28px;
    margin: 0;
	padding: 30px 0 36px 84px;
	list-style: none;
	background-image: url("https://lh3.googleusercontent.com/4BM0V-dN2tZaSO4aSCnMO0zl43yGod_OmQpvKJgYrrj8pXxuBdBhIivcjxnXk7gLsun5ZqmtHczp2jBqXIfUKFFhDdCX9mbCCsE1Jfoq2SanFpLPGauxR724Y2HLjs5t08WCO-tkSA=w2400");
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}

a:link {
    color: rgb(255, 232, 232);
}

a:visited {
    color:  rgb(223, 132, 132);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sparkle {
    text-shadow: 1.5px 1.5px 4.5px #8b7270; 
}

.subheading {
    font-size: 25px;
    font-weight: bold;
}

.salami_picture {
    width: 99.5%;
    height: 635px;
    opacity: 0.3;
    z-index: -1;
    padding-top: 6px;
}

.first_h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color:rgb(238, 235, 235);
    border-width: 5px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    white-space: nowrap;
    font-weight: bold;
}

.list_frame {
    border-style: solid;
    border-color:rgb(255, 232, 232);
    border-width: 5px;
}