body {
    background-color: #353434;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: #e66760;
}

p {
    color: crimson;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid #ddd;
}

