body {
    background-color: #222222;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ee8d88;
    text-shadow: 1.5px 1.5px 4.5px #854d4a; 
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(238, 235, 235);
    font-size: 25px;
    line-height: 35px;
    text-align: center;
}

li {
    text-align: left;
    color: white;
    font-size: 28px;
    margin: 0;
	padding: 30px 0 36px 84px;
	list-style: none;
	background-image: url("https://lh3.googleusercontent.com/4BM0V-dN2tZaSO4aSCnMO0zl43yGod_OmQpvKJgYrrj8pXxuBdBhIivcjxnXk7gLsun5ZqmtHczp2jBqXIfUKFFhDdCX9mbCCsE1Jfoq2SanFpLPGauxR724Y2HLjs5t08WCO-tkSA=w2400");
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}

a:link {
    color: rgb(255, 232, 232);
}

a:visited  {
    color: rgb(255, 232, 232);
}

img {
    margin-left: auto;
    margin-right: auto;
}

.sparkle {
    text-shadow: 1.5px 1.5px 4.5px #8b7270; 
}

.subheading_1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Dancing Script';
    font-style: italic;
    color: rgb(255, 232, 232);
}

.subheading_2 {
    font-size: 28px;
    font-weight: bold;
}

.salami_picture {
    width: 100%;
    height: 700px;
    opacity: 0.4;
    z-index: -1;
    display: block;
    padding-bottom: -15px;
}

.first_h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color:rgb(238, 235, 235);
    border-width: 5px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    white-space: nowrap;
    font-weight: bold;
    display: block;
}

.list_frame {
    border-style: outset;
    border-color: #c97672;
    border-width: 35px;
    margin: 0;
}

#vids {
    padding-top: 30px;
    border-top: 3px dashed #e6c6c5;    
}

.salami_info  {
    text-align: left;
    border-left: rgb(255, 232, 232);
    border-left-width: 6px;
    border-left-style: solid;
    line-height: 2;
}

iframe {
    border-style: outset;
    border-width: 15px;
    border-color:rgb(238, 165, 165);
}

.credits {
    padding-bottom: -10px;
	padding-top: 10px;
	text-align: center;
	bottom: 0px;
    font-size: 16px;
}

.move_right, .scratch_text {
    float: right;
}

.kahoot_pic {
    float: right;
    height: 520px;
    width: 770px;
    top: -10px;
    position: relative; 
    border-style: outset;
    border-width: 15px;
    border-color:#e6c6c5;
}

.kahoot_info {
    text-align: left;
    line-height: 2;
    margin-top: -10px;
    display: inline-flex;
    background-color: #c97672;
}

.salami_game_pic {
    width: 700px;
    height: 559px;
    border-style: outset;
    border-width: 10px;
    border-color: #e6c6c5;;
    margin-top: -10px;
    max-width: 1400px;
    max-height: 1118px;
}

.scratch_text {
    text-align: right;
    line-height: 2;
    margin-top: -10px;
    display: inline-flex;
    border-style: double;
    border-color:#c97672;
    border-width: 15px;
    
}

.kahoot_pic:hover, .salami_game_pic:hover{
    opacity: 0.8;
}

  @media (max-width: 480px) {
    .salami_picture {
        height: 300px;
        position: relative;
        display: inline-block;
    }

    .first_h1 {
        font-size: 21px;
        border-width: 5px;
        position: relative;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        border-width: 3.5px;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .subheading_1 {
        font-size: 16px;
    }

    iframe {
        width: 350px;
        height: 400px;
        float: left !important;
    }

    .kahoot_pic {
        height: 320px;
        width: 340px;

    }

    .salami_game_pic {
        height: 320px;
        width: 340px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .move_right {
        float: left !important;
    }

    .kahoot_info br {
        display: none;
    }

    .scratch_text br {
        display: none;
    }
    
}

@media (min-width: 1025px) and (max-width: 1200px){
    iframe {
        min-width: 475px;
        max-width: 530px;
        height: 400px;
    }

    .kahoot_info {
        display: inline-block;
    }

    .kahoot_pic {
        width: 626px;
        height: 500px;
        float: left !important;
        margin-bottom: 25px;
        margin-right: 500px;
    }

    .salami_game_pic {
        height: 500px;
        width: 719.5px;
        float: right !important;
        margin-bottom: 25px;
        margin-left: 450px;
    }

    .scratch_text {
        display: inline-block;
    }

    .credits {
        margin-top: 1000px;
    }
}

@media (min-width: 1200px) {
    .kahoot_pic {
        width: 500px;
    }

    .salami_game_pic {
        width: 425px;
    }

    iframe {
        width: 562px;
        height: 500px;
    }
}


@media (min-width: 1230px) and (max-width: 1245px) {
    .kahoot_pic {
        width: 530px;
    }

    .salami_game_pic {
        width: 455px;
    }

    iframe {
        width: 577px;
    }
    img, iframe {
        max-width: 100%;
        height:auto
    }
}

@media (min-width: 1245px) and (max-width: 1260px) {
    .kahoot_pic {
        width: 545px;
    }

    .salami_game_pic {
        width: 470px;
    }

    iframe {
        width: 586px;
    }
    img, iframe {
        max-width: 100%;
        height:auto
    }
}

@media (min-width: 1260px) and (max-width: 1275px) {
    .kahoot_pic {
        width: 560px;
    }

    .salami_game_pic {
        width: 487px;
    }

    iframe {
        width: 593px;
    }
}

@media (min-width: 1275px) and (max-width: 1290px) {
    .kahoot_pic {
        width: 575px;
    }

    .salami_game_pic {
        width: 498px;
    }

    iframe {
        width: 600px;
    }
}

@media (min-width: 1290px) and (max-width: 1305px) {
    .kahoot_pic {
        width: 590px;
    }

    .salami_game_pic {
        width: 515px;
    }

    iframe {
        width: 607px;
    }
}

@media only screen and (min-width: 1305px) and (max-width: 1315px) {
    .kahoot_pic {
        width: 605px;
    }

    .salami_game_pic {
        width: 532px;
    }

    iframe {
        width: 615px;
    }
}

@media only screen and (min-width: 1315px) and (max-width: 1330px) {
    .kahoot_pic {
        width: 614px;
    }

    .salami_game_pic {
        width: 540px;
    }

    iframe {
        width: 620px;
    }
}

@media only screen and (min-width: 1330px) and (max-width: 1345px) {
    .kahoot_pic {
        width: 631px;
    }

    .salami_game_pic {
        width: 557px;
    }

    iframe {
        width: 627px;
    }
}

@media only screen and (min-width: 1345px) {
    .kahoot_pic {
        width: 646px;
    }

    .salami_game_pic {
        width: 570px;
    }

    iframe {
        width: 635px;
    }
}

@media only screen and (min-width: 1375px) {
    .kahoot_pic {
        width: 675px;
    }

    .salami_game_pic {
        width: 600px;
    }

    iframe {
        width: 650px;
    }
}

@media only screen and (min-width: 1420px) {
    .kahoot_pic {
        width: 675px;
    }

    .salami_game_pic {
        width: 600px;
    }

    iframe {
        width: 670px;
    }
}

@media only screen and (min-width: 1500px) {
    .kahoot_pic {
    height: 520px;
    width: 770px;
    }
    .salami_game_pic {
    width: 700px;
    height: 559px;
    }

    iframe {
        width: 700px;
    }
}

@media only screen and (min-width: 1700px) {
    .kahoot_pic {
        width: 870px;
        height: 700px;
    }

    .kahoot_info {
        line-height: 2.2;
    }

    .salami_game_pic {
        width: 850px;
    }

    iframe {
        width: 812px;
    }

}

@media only screen and (min-width: 1824px) {
    .kahoot_pic {
        width: 800px;
        height: 620px;
    }

    .salami_game_pic {
        width: 1000px;
    }

    iframe {
        width: 875px;
    }
}

    
